* {
  box-sizing: border-box;
}

html {
  line-height: 1.8;
}

body {
  font-family: "cereal-regular";
  margin: 0;
  ::selection {
    background: $clr1;
    color: #fff;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: cereal-Medium;
  font-weight: 500;
  margin: 0 0 1rem;
  color: $clr2;
}

// h1 {
// font-size: rem(60px);
// }
p {
  font-family: cereal-Medium;
  margin: 0 0 1rem;
  max-width: 60ch;
  text-align: start;
  color: $clr2;
}

img {
  // object-fit: contain;
  width: 100%;
  height: 100%;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

a {
  text-decoration: none;
}

// .material-icons {
//   font-family: "Material Icons";
//   font-weight: normal;
//   font-style: normal;
//   font-size: 24px; /* Preferred icon size */
//   display: inline-block;
//   line-height: 1;
//   text-transform: none;
//   letter-spacing: normal;
//   word-wrap: normal;
//   white-space: nowrap;
//   direction: ltr;
//   /* Support for all WebKit browsers. */
//   -webkit-font-smoothing: antialiased;
//   /* Support for Safari and Chrome. */
//   text-rendering: optimizeLegibility;
//   /* Support for Firefox. */
//   -moz-osx-font-smoothing: grayscale;
//   /* Support for IE. */
//   font-feature-settings: "liga";
// }
