.head-title-visits {
    text-align: start;
    font-size: 17px;
    color: $clr3;
}

.explore-head-title-visits {
    text-align: start;
}

.head-title-txt {
    text-align: start;
    font-size: 32px;
    font-family: cereal-Bold, sans-serif;
    color: #222;
    font-weight: unset;
    // padding-bottom: 10px;
}