

.main >* {
    grid-column: 2;
}

 .gallery-header {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}


.gallery{
    display: -webkit-flex;
    display: flex;
    grid-gap: 17px;
    gap: 17px;
    margin-top: 20px;
    margin-bottom: 75px;
}