
.stay-first-info {
  text-transform: capitalize;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1607843137254902);
}
.stay-left-container {
  border-bottom: 1px solid #ddd;
}
.stay-features-container {
  flex-direction: column;
  
  div {
    display: flex;
    // flex-direction: column;
    // grid-gap: 20px;
    // gap: 20px;
    padding-bottom: 30px;
    text-align: left;
    i::before {
      content: "\f015";
    }

    div {
      display: flex;
      flex-direction: column;

      h3 {
        margin: 0;
        padding: 0;
        font-size: 16px;
        line-height: 20px;
        color: #222;
        font-family: airbnb-regular, sans-serif;
        text-transform: capitalize;
      }
      h4 {
        margin: 0;
        padding: 0;
        font-weight: 100;
        color: #575757;
      }
    }
  }
}

.stay-left-container {

}
