.details-container {
  .stay-name {
    text-align: left;
    margin-bottom: 0;
  }
  .stay-city-info {
    gap: 5px;
  }
  .review-star {
    color: $clr1;
  }
  .action-btns {
    text-decoration: underline;
    align-items: center;
    gap: 10px;
    margin-inline-end: 6px;
  }
  .stay-info-container {
    gap: 100px;

    .amenities-container {
      text-align: left;
      h1 {
        margin-top: 20px;
      }

      li {
        display: flex;
        gap: 40px;
        padding: 5px 0;
        align-items: center;
      }
      svg {
        width: 24px;
        height: 24px;
      }
    }
    .stay-summary-contanier {
      border-bottom: 1px solid #ddd;
      border-top: 1px solid #ddd;
      p {
        padding: 30px 0;
        margin: 0;
      }
    }
    .order-form-container {
      flex: 1 1;

      .order-form-sticky {
        margin: 20px 0;
        position: -webkit-sticky;
        position: sticky;
        top: 120px;
      }
      .order-form {
        border: 1px solid #dadada;
        border-radius: 13px;
        box-shadow: 0 6px 16px -2px #d8d8d8;
        padding: 20px 25px 15px;
        width: 360px;

        .order-from-total {
          div {
            display: flex;
            justify-content: space-between;
          }
          .total-description {
            font-family: cereal-Light;
            text-decoration: underline;
          }
          p {
            margin-bottom: 4px;
          }
          .total-price {
            border-top: 1px solid $clr3;
            p {
              padding-top: 5px;
            }
          }
        }

        .order-form-price {
          font-size: 22px;
        }

        .el-input__inner {
          border: 1px solid gray;
          border-top-right-radius: 0;
          border-top-left-radius: 0;
          cursor: pointer;
          ::placeholder {
            color: black;
            font-family: "cereal-Medium";
          }
        }
        .date-picker {
          text-align: center;
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
          border: 1px solid gray;
          cursor: pointer;
          ::placeholder {
            color: black;
          }
          // .el-date-table span {
          //   background-color: $clr1;
          // }

          .options {
            border-radius: 8px;
            border: 1px solid gray;
            margin-bottom: 2rem;
          }
        }
        // label {
        //   border: 1px solid gray;
        //   border-radius: 5px;
        // }
      }

      .order-form-header {
        align-items: center;
        padding-bottom: 15px;

        p {
          margin-bottom: 0;
        }
      }

      .gradient-btn {
        margin: 15px 0 10px;
        border-radius: 13px;
        width: 100%;
        position: relative;
        height: 48px;
        padding: 0;
        color: white;
        font-size: 16px;
        line-height: 20px;
        font-family: "cereal-Medium";
        border: none;
        cursor: pointer;
      }
    }
  }
}

.stay-first-info {
  text-transform: capitalize;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1607843137254902);
  margin-bottom: 20px;
}
.stay-long-info {
}
.stay-features-container {
  flex-direction: column;

  div {
    display: flex;
    // flex-direction: column;
    // grid-gap: 20px;
    // gap: 20px;
    align-items: start;

    svg {
      font-size: 20px;
      margin-inline-end: 10px;
    }
    i::before {
      content: "\f015";
    }

    div {
      display: flex;
      flex-direction: column;

      h3 {
        margin: 0;
        padding: 0;
        font-size: 16px;
        line-height: 20px;
        color: #222;
        font-family: airbnb-regular, sans-serif;
        text-transform: capitalize;
      }
      h4 {
        margin: 0;
        margin-bottom: 25px;
        padding: 0;
        font-weight: 100;
        color: #575757;
      }
    }
  }
}

.stay-review-header {
  margin-top: 20px;
  border-top: 1px solid #ddd;
}

// temp
.el-date-editor .el-range-separator {
  border-left: 1px solid gray;
  height: 115%;
}

.el-date-editor--datetimerange.el-input,
.el-date-editor--datetimerange.el-input__inner {
  // width: 340px;
  width: 100%;
}

.reviews {
  color: $gray;
  margin-top: 9px;
  font-size: 13px;
  font-family: airbnb-medium;
  text-decoration: underline;
}

.reviews-display {
  width: 1120px;
  border-bottom: $separate solid 1px;
  margin-bottom: 50px;
  img {
    margin-inline-end: 10px;
  }
}
.reviews-rating-data {
  display: grid;
  row-gap: 24px;
  column-gap: 90px;
  grid-template-columns: 46% 46%;
  grid-template-rows: 33% 33% 33%;
  padding-bottom: 75px;
}
.reviews-display-data {
  display: grid;
  row-gap: 50px;
  column-gap: 90px;
  grid-template-columns: 46% 46%;
  grid-template-rows: 33% 33% 33%;
  padding-bottom: 100px;
}
.user-review-avatar {
  height: 50px;
  width: 50px;
}
.review-date {
  font-size: 13px;
  padding-bottom: 25px;
  font-family: airbnb;
  color: $gray;
}

.short-exmple {
  font-family: cereal-Bold;
}

.review-text {
  font-family: cereal-Light;
  margin-top: -20px;
}

.el-rate__text {
  display: none;
}

.reviews-headline {
  text-align: left;
  font-size: 20px;
  font-family: cereal-Bold;
  border-top: 1px solid #ddd;
  p {
    padding-top: 15px;
  }

}
.checking {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  margin: 0 auto;
  height: 112px;
  border: solid 1px $gray;
  border-radius: 10px;
  font-family: cereal-Medium;
  font-size: 0.65rem;
  margin-bottom: 10px;
  width: 100%;
}
.check-in {
  grid-column: 1;
  border-right: solid 1px $gray;
  border-bottom: solid 1px $gray;
}
.check-out {
  grid-column: 2;
  border-bottom: solid 1px $gray;
}
.category-stay-label {
  margin-left: 5px;
  margin-top: 5px;
}
.add {
  color: $gray;
  font-size: 14px;
  margin-left: 5px;
  margin-top: 5px;
}
.guests-num {
  grid-row: 2;
  grid-column: span 2;
}


// .el-input {
//   .el-input__inner {
//     border: 1px solid gray;
//     border-top-right-radius: 0;
//     border-top-left-radius: 0;
//     cursor: pointer;
//     ::placeholder {
//       color: black !important;
//       font-family: "cereal-Medium";
//     }
//   }
// }
