* {
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #12557c;
}

/* BASIC */
html {
    font-family: Helvetica, Arial sans-serif;
    color: #333333;
    overflow-y: scroll;
    scroll-behavior: smooth;

}

.router-link-btn, button{
    display: inline-block;
    text-decoration: none;
    background-color: white;
    border: 1px solid rgb(82, 82, 82);
    border-radius: 7px;
    padding: 5px;
    margin: 5px;
    color: #1e1e1e;
}

.router-link-btn:hover, button:hover{
   background-color: rgb(214, 214, 214);
   cursor: pointer;
   border: 1px solid black;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
    color: #1e1e1e;
}
  
#nav {
    display: flex;
    align-items: center;
}
  
#nav a {
    font-weight: bold;
    font-size: 1.2em;
    color: #1e1e1e;
    text-decoration: none;
}
  
#nav a.router-link-exact-active {
    color: #59c2ff;
}

h3 {
    margin: 40px 0 ;
}
ul {
    list-style-type: none;
    padding: 10px;
}
li {
    display: inline-block;
    margin: 10px 10px;
}
a {
    color: #59c2ff;

}


.alert {
    color:white;
    padding: 10px;
    font-size: 1.4em;
    position: absolute;
    top:0;
    right:0;
    background-color: grey;
}

.alert-success {
    background-color: rgb(15, 122, 15);
}
.alert-danger {
    background-color: rgb(122, 11, 11);
}


/*Toy list*/
.toy-preview-container{
    background-color: rgb(218, 218, 218);
    padding: 10px;
    width: 200px;
}

.toy-preview-info{
    margin: 10px auto;
}

/*toy-edit*/
.toy-edit-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


/*toy-filter*/
.toy-filter{
    background-color: thistle;
    padding: 10px;
}

/*header*/
.header-section{
    display: flex;
    justify-content: space-around;

    background-color: rgb(255, 219, 252);
}

.logo-img{
    width: 80px;
}