@font-face {
  font-family: "awesome-light";
  src: url(~@/assets/fonts/font-awesome/fa-light-300.ttf);
}
@font-face {
  font-family: "awesome-solid";
  src: url(~@/assets/fonts/font-awesome/fa-solid-900.ttf);
}
@font-face {
  font-family: "awesome-brands";
  src: url(~@/assets/fonts/font-awesome/fa-brands-400.ttf);
}

@font-face {
  font-family: "cereal-regular";
  src: url(~@/assets/fonts/cereal/AirbnbCerealLight.ttf);
}
@font-face {
  font-family: "cereal-Bold";
  src: url(~@/assets/fonts/cereal/AirbnbCerealBold.ttf);
}
@font-face {
  font-family: "cereal-Book";
  src: url(~@/assets/fonts/cereal/AirbnbCerealBook.ttf);
}
@font-face {
  font-family: "cereal-Black";
  src: url(~@/assets/fonts/cereal/AirbnbCerealBlack.ttf);
}
@font-face {
  font-family: "cereal-Medium";
  src: url(~@/assets/fonts/cereal/AirbnbCerealMedium.ttf);
}
@font-face {
  font-family: "cereal-Light";
  src: url(~@/assets/fonts/cereal/AirbnbCerealLight.ttf);
}
